body {
    background: #F7F3EE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.06em;
    color: #484848;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header strong {
    font-weight: 800;
}
.header p {
    color: rgba(56, 56, 56, 0.38);
    font-size: 0.9rem;
   font-weight: 600;
   margin-bottom: 3rem;
}
.header h1 {
   font-size: 5rem;
   font-weight: 300;
   margin-bottom: 0rem;
   letter-spacing: -6px;
   margin-top: 0;
}
.header {
   margin-top: 5rem;
}
.container textarea {
   width: 100%;
   display: block;
   background: #FFFFFF;
    border: 2px solid rgba(67, 67, 67, 0.08);
    box-sizing: border-box;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.04);
    border-radius: 21px;
   padding: 2rem;
   height: 200px;
   outline: unset;
   font-family: 'Inter';
   margin-bottom: 2rem;
}
.container {
   width: 840px;
   margin: auto;
   text-align: right;
   margin-bottom: 5rem;
}
.container button {
   background: #484848;
    border: 2px solid rgba(67, 67, 67, 0.09);
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.01);
    border-radius: 55px;
   padding: 1rem 2rem;
   color: #fff;
   font-family: 'Inter';
    cursor: pointer;
}
.resultado {
    margin-top: 2rem;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 700;
}
.resultado span {
    background: #faaa33;
    padding: 2px 10px;
    border-radius: 100px;
}
.recarregar {
    position: absolute;
    left: 1px;
    margin: 10px;
   background: #faaa33;
   padding: 10px;
   color: #fff;
   border-radius: 100px;
   text-decoration: none;
   font-weight: 600;
   margin-top: -10px;
}
.recarregar:hover {
    background: #484848;
}
.container button:hover {
    background: #faaa33;
}
@media screen and (max-width:700px) {
    .container {
       width: 90%;
   }
    .header h1 {
       font-size: 3.5rem;
       letter-spacing: -4px;
   }
    .recarregar {
    bottom: 20px;
    left: 10px;
}
}
